@model ProftaakDemo.Models.Post

@{
    ViewData["Title"] = "CreatePostPage";
}

<div class="header">
    <div class="info">
        <h1>Forum gemeente Horst aan de Maas</h1>
        <h3>Samen staan we sterker</h3>
        <div class="meta">
            <img src="https://horstaandemaas.d66.nl/content/uploads/sites/256/2018/02/d66Gl.png" /><br>
            Volg ons ook op <a href="https://www.facebook.com/gemeenteHadM/" target="_b">Facebook</a>
        </div>
    </div>
</div>
<div style="text-align:center;">
    <h1>Maak een nieuwe post</h1>
    <h3>Stel een vraag of deel wat leuks!</h3>
</div>

<div class="blog-container">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Titel:</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label">Autheur:</label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Content</label>
                    <textarea rows="7" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tag" class="control-label">Thema:</label>
                    <input asp-for="Tag" class="form-control" />
                    <span asp-validation-for="Tag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>





